[Desktop Entry]
Name=Firefox Fullscreen
Exec=bash -c "/home/ppg/Documents/autoscripts/start_signage.sh &"
Type=Application
X-GNOME-Autostart-enabled=true

